<div>
<h1>
Tasklist トップ
</h1>
</div>

<% if logged_in? %>
<p>ログイン完了ユーザ: 
<%= current_user.name %>
</p>

<%= form_with(model: @task, local: true) do |f| %>

<%= render 'layouts/error_messages', model: f.object %>

<div>
<%= f.label :status, 'ステータス' %>
<%= f.select :status, [["済"], ["未"]] %>
</div>

<div>
<%= f.label :content, 'タスク' %>
<%= f.text_area :content %>
</div>
        
<%= f.submit '作成' %>

<% end %>

  <div>
<%= render 'tasks/tasks', tasks: @tasks %>
  </div>
  
 <%= link_to 'ログアウト', logout_path, method: :delete %>
</div>


<% else %>

<div>
<%= link_to 'ユーザー登録', signup_path %>
<%= link_to 'ログイン', login_path %>
</div>

<% end %>